# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**  
- Popular languages for Data Science
- Commonly used libraries by Data Scientist.
- Tools for Data Science.
- Examples for evaluating arithmetic expressions.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java 
4. SQL
5. Julia
6. Scala
7. Matlab

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Scikit-Learn
7. PyTorch|

Data Science Tools are:
|Data Science Tools|
|------------------|
|R Studio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python
1. 5 -- is already evaluated, its value is 5.
2. (13-4) -- evaluates to 9.
3. (7+3) -- evaluates to 10.
4. (2*8) -- evaluates to 16.
5. 6*(8-1) -- evaluates to 42.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author ##
Anushka Pargaonkar